@charset "utf-8";


.duihua_left,.duihua_right{ margin-top:10px; position:relative; min-height:110px; min-width:320px; }
.duihua_left .touxiang{ position:absolute; left:0; z-index:1;}
.duihua_left .down_talk{position:relative;left:0;}
.duihua_left .talk_box{margin-left:120px; }

.duihua_left .touxiang,.duihua_right .touxiang{width:100px; height:100px; background:#fff; border:2px solid #b1be9f; border-radius:5px; text-align:center; overflow:hidden; }
.duihua_left .touxiang img,.duihua_right .touxiang img{width:100px;height:100%;}
.down_talk{width:98%; overflow:hidden;}
.talk_box{min-height:80px; background:#fff; border:2px solid #d1d2d0; border-radius:5px;  padding:10px; position:relative; max-width:60%; color:#323430; line-height:20px; min-width:60px;}
.talk_box span{ color:#6eb80b; font-weight:bold;}

.duihua_left .talk_box .arrow {position: absolute;width: 12px;  top:30px;left:-12px;height: 18px;overflow: hidden; background:url("http://static.u17i.com/mobile/images/arrow_ico.png") no-repeat 0 0;}

.duihua_right .touxiang{ position:absolute; right:0; z-index:1;}
.duihua_right .down_talk{ position:relative; right:0;}
.duihua_right .talk_box{margin-right:120px; float:right }
.duihua_right .talk_box .arrow {position: absolute;width: 12px;  top:30px;right:-12px;height: 18px;overflow: hidden; background:url("http://static.u17i.com/mobile/images/arrow_ico.png") no-repeat -13px 0;}


.down_bg{ margin-top:10px;margin-bottom:10px; height:45px; background:#6eb80b; color:#fff; padding-left: 18px; line-height:45px; display:block; }
.down_bg:hover,.down_bg:visited,.down_bg:active{ color:#fff;}
.down_bg i{ display: inline-block; width: 30px; height: 30px; margin-right: 5px; background: red; vertical-align: middle; }
.down_bg i.yes{background: url("http://static.u17i.com/mobile/images/2X_01.png");background-size: 100%;}
.down_bg i.err{background: url("http://static.u17i.com/mobile/images/2X_02.png");background-size: 100%;}
.down_bg i.doubt{background: url("http://static.u17i.com/mobile/images/2X_03.png");background-size: 100%;}

.loading_box{ overflow:hidden; padding:10px 5px; min-height:523px;}
.loading_box .touxiang{width:120px; height:120px; border:1px solid #b8c5a7; background:#fff; text-align:center; overflow:hidden;}
.loading_box .touxiang img{width:100%; height:100%;}
.readerbox{ margin-left:20px; font-size:1.0rem; color:#302a2a;}
.readerbox h2{ height:30px; line-height:30px;}
.readerbox p{ color:#b2b2b2; font-size:14px; height:30px; line-height:30px;}
.loading_box .explain_txt{color:#b2b2b2; line-height:30px; font-size:14px; margin-top:10px;}
.loading{width:255px; height:150px; position:fixed; left:50%; top:50%; margin-left:-127px; margin-top:-78px; z-index:10000;}
.loading_bottom{ border-radius: 5px;background: rgba(0,0,0,.8);box-shadow: 2px 3px 4px rgba(0,0,0,.3);width:100%; height:48px; position:absolute; left:0; bottom:0; }
.load_img01,.load_img02,.load_img03,.load_img04{ background:url("http://static.u17i.com/mobile/images/loading.png") no-repeat; width:72px; height:117px; position:absolute; left:32px;}
.load_img01{ background-position:0 0; bottom:-13px;}
.load_img02{ background-position:-84px 0; bottom:2px;}
.load_img03{ background-position:-173px 0; bottom:-13px;}
.loading_txt{width:95px; height:48px; position:absolute; left:118px; bottom:0px; line-height:48px; color:#fff;}
.btn_zhuxiao{ display:block; width:122px;  background:#d8d7d7; padding:2px 0;text-align:center; color:#8e8a8a; margin-top:5px; font-size:14px;}

.comic_infor{overflow:hidden; margin-top:5px;}
.comic_infor h2{ line-height:30px; color:#1a1a1a; font-size:18px; margin:0 5px; overflow:hidden;}
.comic_infor h2 span{ display:inline-block; width:35px; height:18px; color:#fff; font-size:12px; text-align:center; line-height:18px; margin:0 0 0 5px;}

.comic_infor .comic_left{width:73%; margin-left:5px;}
.comic_list_view{width:100%; height:100px; display:inline-block; position:relative; color:#000; margin-top:5px;}
.comic_list_view .list_h{position: absolute;float: left;height: 100%;left:0px;top: 0px;border:1px solid #b1aeb1; background:#fff; }
.comic_list_view .list_h img{width:70px; height:100%;}
.comic_list_view .list_h p{width:100%; height:24px; line-height:24px; background:rgba(0,0,0,.6); position:absolute; left:0; bottom:0; text-align:center; font-size:12px;}
.comic_list_view .list_c{font-size: 14px;height: 104px;padding-left: 83px;line-height: 25px; overflow:hidden;text-overflow:ellipsis;word-wrap: break-word;word-break: break-all;}
.comic_list_view .list_c .title_name{ color:#1B1B1B; font-size:18px; width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.comic_list_view .list_c p img{height:14px; vertical-align:middle; display:inline-block; margin-top:-2px; margin-left:4px; margin-right:4px;}

.comic_right{width:25%; border-left:1px solid #dedede; margin-top:5px; height:86px;}
.comic_right a{ display:block; height:40px; margin:0 5px 5px 5px; font-size:14px; line-height:40px; text-align:center;}
.comic_right .goon{ background:#6eb80b; color:#fff;}
.comic_right .goon:hover,.comic_right .goon:visited,.comic_right .goon:active{ color:#fff;}
.comic_right .inset_shelf{ background:#cbccc9; color:#838387;}
.comic_right .no_inset_shelf{ border-style: solid;border-width: 1px;border-color: rgb( 142, 134, 141 );background-image: -webkit-linear-gradient( 90deg, rgb(225,218,223) 0%, rgb(192,179,190) 100%);background-image: linear-gradient( to 90deg, rgb(225,218,223) 0%, rgb(192,179,190) 100%);height: 40px; color:#282828;}


.comic_infor .intro{ margin:5px 0 10px 5px; overflow:hidden;}
.comic_infor .intro p{height:50px; overflow:hidden;line-height:25px; font-size:14px; }
.comic_infor .intro a,.comic_infor .intro a:hover,.comic_infor .intro a:visited,.comic_infor .intro a:active{ color:#8cacf6;}
.comic_infor .intro .arrow{ height:20px; overflow:hidden; text-align:center;}

.comic_infor .intro .arrow b{ display:inline-block; width: 0;height: 0;border-width: 8px;border-style:solid
dashed dashed  dashed;border-color:#999  transparent transparent transparent;font-size: 0;line-height: 0; position:relative; top:4px;}
.comic_infor .intro .arrow b.cur{border-style:dashed dashed  solid dashed;border-color: transparent transparent #999 transparent; top:-4px; }



.comic_infor .new_chapter{-webkit-box-orient: horizontal;box-orient: horizontal; display:box; margin-bottom:15px; height:34px;}
.comic_infor .new_chapter div{text-align:center;width:45%;  float:left; background:#f2f2f2; margin:5px 10px 0 5px; height:34px; line-height:34px; position:relative; overflow:hidden;}
.comic_infor .new_chapter div span{ display:inline-block; width:6px; height:34px; background:#d3d4d2; position:absolute; left:0; top:0;}
.comic_infor .new_chapter div span.vip{ background:#fa9797;}
.comic_infor .new_chapter div span.fufei{ background:#fcddab;}
.comic_infor .new_chapter div i{ color:#db5454; text-transform:uppercase; margin-left:5px; font-size:14px;}
.comic_infor .new_chapter a:hover,.comic_infor .new_chapter a:visited,.comic_infor .new_chapter a:active{ color:#999;}
.comic_infor .new_chapter img{height:14px; vertical-align:middle; display:inline-block; margin-top:-2px; margin-right:4px; }
.comic_infor .comic_list{ border-top:1px rgb(242,245,242) solid; box-shadow: 0px -2px 8px rgb( 158, 154, 154 );}
.comic_infor .comic_list_title{ overflow:hidden; margin-top:-1px;}
.comic_infor .comic_list_title a{ display:inline-block; float:left; width:50%; line-height:35px; color:#252525; text-align:center;}
.comic_infor .comic_list_title a img{height:15px; vertical-align:middle;}
.comic_infor .comic_list_title a span{ vertical-align:middle;}
.comic_infor .comic_list_title a.cur{ background:#323331; color:#fff;}
.comic_list_con ul{ margin:0 0px 10px 0px;}
.comic_list_con li{height:40px; line-height:40px; padding:0 15px;}
.comic_list_con li img{height:14px; vertical-align:middle; display:inline-block; margin-top:-2px; margin-left:4px;}
.comic_list_con li.odd{background:#f3f1f1;}
.comic_list_con li:hover,.comic_list_con li.cur{ background:#d4d4d4;}
.comic_list_con li a{color:#4f4b4b; margin-left:5px;}
.comic_list_con li a:hover,.comic_list_con li.cur a,.comic_list_con li.cur span{ color:#54b208;}
.comic_list_con li span{ float:right;}
.comic_list_con li b{width:10px; height:10px; background:transparent; border-radius:50%; display:inline-block;}
.comic_list_con li.cur b{background:#54b208; }


.ui_mark{width:98%; min-height:220px; background:rgba(0,0,0,.85); position:fixed; left:50%; top:20%; margin-left:-49%; text-align:center; padding:20px 0; line-height:30px; display:none; z-index:10000;}
.ui_mark p{ margin:20px 0;}
.ui_mark .into_myshelf_btn{margin:20px 10px; height:50px; line-height:50px; background:rgba(0,0,0,.8); border:1px solid #b7b7b7; display:block;}
.feed_btn{height:50px; line-height:50px; background:rgba(0,0,0,.8);  display:block; text-align:center; color:#fff; width:228px; margin:0 auto;}
.feed_fix{position:fixed; top:50%; left:50%; margin:-25px 0 0 -114px; }


#currentCache{width:100%; background:#e1e1e1;}
.view-imgBox{width:100%; height:100%; overflow:hidden; text-align:center; position:absolute; left:0; top:0;display:table;}
.view-imgBox .mh_box{ height:100%; width:100%; display:table-cell; vertical-align:middle;}
.view-imgBox img{ width:100%;}
.page_box{min-width:85px; height:35px; line-height:35px; background:rgba(0,0,0,.5); line-height:35px; position:fixed; left:0; bottom:0; text-align:center; padding:0 5px; z-index:10000;}
.into_shelf{width:248px; height:60px; line-height:60px;background:rgba(0,0,0,.5); position:fixed; left:50%; margin-left:-124px; bottom:110px; text-align:center; display:none; z-index:10000;}

.control_panel{width:100%; height:100%; position:fixed; left:0; top:0; z-index:10000;display:none;}
.control_panel .prev,.control_panel .next{width:33%; text-align:center; display:table-cell; vertical-align:middle; }
.control_panel .drag_up{width:100%; text-align:center; display:table-cell; vertical-align:middle;}
.control_panel .center{ width:34%; display:table-cell; vertical-align:middle; text-align:center;}

.control_panel .prev,.control_panel .next{ color:#6eb80b;}
.control_panel.alpha .prev,.control_panel.alpha .next{ background:rgba(0,0,0,.8);}
.control_panel.no_alpha .prev,.control_panel.no_alpha .next{background:rgba(0,0,0,0); text-indent:-999em;}
.control_panel.alpha .center{ background:rgba(0,0,0,.9);border-left:1px solid #fff; border-right:1px solid #fff;}
.control_panel.no_alpha .center{ background:rgba(0,0,0,0); text-indent:-999em;border-left:0px solid #fff; border-right:0px solid #fff;}
.control_panel.alpha .drag_up{ background:rgba(0,0,0,.85);}
.control_panel.no_alpha .drag_up{ background:rgba(0,0,0,0); text-indent:-999em;}

.control_top,.control_bottom{width:100%; height:50px; background:#030303; position:fixed; left:0; z-index:10001; line-height:50px;display:none;}
.control_top{ top:0; border-bottom:1px solid #fff;}
.control_top a{ color:#fff; display:block;}
.control_top .goback{outline:none; width:32px; padding:0 5px; position: absolute; left: 0; top:0;}
.control_top .comic_name{ outline:none; overflow:hidden; margin-left: 42px;}
.control_top .comic_intro,.control_top .comic_xq{padding:0 5px; width:32px; position: absolute; top:0;}
.control_top .comic_intro{right:0; }
.control_top .comic_xq{right:42px;}
.control_top .comic_intro:last-child{ margin-right:5px;}
.control_bottom{bottom:0;border-top:1px solid #fff; color:#fff; font-size:14px;}
.control_bottom a{ color:#fff;}
.control_bottom .page_left{padding:0 5px; width:54px; text-align:center;outline:none; position: absolute; left: 0; top: 0; }
.control_bottom .control_scroll{margin:0 66px; }
.control_bottom .mode{ padding:0 5px; width:56px; display:block; text-align:right; outline:none; position: absolute; right:0; top:0;}
.control_bottom .control_scroll .scroll_box{width:100%; height:8px; position:relative; background:#a4a4a4; left:0; top:21px;}
.control_bottom .control_scroll .scroll_bar{width:30px; height:30px; border-radius:50%; background:#f3f3f3; position:absolute; left:0px; top:-12px; outline:none;}

.comic_list_tishi{ position:fixed; z-index:10002; display:block; width:96%; left:50%; margin-left:-48%; text-align:center; padding:15px 0px; background:rgba(0,0,0,.6); bottom:40px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; }


.usebox{ margin:0 5px;}
.usebox h2{ color:#1e1d1d; margin-top:15px;}
.usebox .use_textarea{width:97%; height:300px; margin:15px auto 0; background:#fff; border:1px solid #9d8d8d; box-shadow:inset 0 0 10px rgba(240,240,240,.9); color:#959090; padding:5px; line-height:20px;}
.usebox .sub_use_btn{ display:block; margin:15px auto 15px; height:58px; background:#6eb80b; text-align:center; text-align:center; line-height:58px;color:#fff;}
.usebox .sub_use_btn:hover,.usebox .sub_use_btn:visited,.usebox .sub_use_btn:active{ color:#fff;}

.app_down{height:60px; background:#fff; border-bottom:3px solid #6c9e06; padding:5px 2px; position:relative; display: none;}
.app_down .close{width:24px; height:23px; background:url("http://static.u17i.com/mobile/images/ico_close.png") no-repeat; position:absolute; right:5px; top:5px;}
.app_down .app_logo{width:60px; height:60px; background:url("http://static.u17i.com/mobile/images/app_logo.png"); background-size:100%; position: absolute; left:0; top: 5px;}
.app_down .app_txt{margin-left: 62px;}
.app_down .app_txt p{ line-height:30px; font-size:12px;}
.app_down_btn{ display:inline-block; padding:0px 5px; background:#4e7204; vertical-align:middle; border-radius:5px; font-size:12px; float:right; margin-right:6px;}

.shelf_tab{ overflow:hidden;}
.shelf_tab a{ display:inline-block;width:50%; float:left; text-align:center; height:35px; line-height:35px; background:#323331; color:#fff;}
.shelf_tab a.cur{ background:none; color:#252525;}
.shelf_late-read{ display:none;}
.collect{ height:30px; line-height:38px; overflow:hidden; font-size:14px;}
.collect img{ height:15px;}
.shelf_con{ margin-bottom:10px; height:113px;}
.shelf_con.odd{ background:#f3f1f1;}
.comic_infor .title_name b{ position:relative; display:inline-block; padding:2px 2px 2px 1px; color:#fff; font-size:10px; font-style:normal; height:16px; line-height:16px; position:relative; margin-left:6px;}
.comic_infor .title_name b i{ position:absolute; display:inline-block; background:url("http://static.u17i.com/mobile/images/ico_arrow.png") no-repeat;width:6px; height:8px; left:-6px; top:6px;}
.comic_infor .title_name b.have_update{ background:#f75950;}
.comic_infor .title_name b.have_update i{ background-position:0 0;}
.comic_infor .title_name b.no_read{ background:#7ac11a;}
.comic_infor .title_name b.no_read i{ background-position:0 -14px;}


.search_con{}
.search_result_txt{height:30px; line-height:30px; font-size:14px; padding-left:5px;}
.serach_box_bg{ background:#fff; border-top:2px solid #ececec;}
.search_result_box{ margin:8px 0px 0 ; padding:0 5px; height:113px;}
.search_result_box.add{ background:#f3f1f1;}
.search_result_box.odd{ background:#f3f1f1;}
.search_result_box:last-child{ margin-bottom:5px;}
.load{line-height:58px; height:64px; width:150px; margin:0 auto;}

.login_con{ margin:5px; height:535px;}

.ui-mark2{width:238px; height:308px; background:rgba( 12, 13, 12,.8 );border-style: solid; border-width: 3px;border-color: rgba( 255, 255, 255,.5 );  border-radius:5px; z-index:10000; position:fixed; left:50%; top:50%; margin-left:-119px; margin-top:-154px; color:#fff;}
.ui-mark2 a{ display:block;width:174px; height:56px;border-radius: 4px; line-height:56px; font-size:18px; margin:34px 0 0 34px; text-align:center;}
.ui-mark2 a.anzhuo{background-image: -moz-linear-gradient( 90deg, rgb(17,172,28) 0%, rgb(26,232,84) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(17,172,28) 0%, rgb(26,232,84) 100%);background-image: -ms-linear-gradient( 90deg, rgb(17,172,28) 0%, rgb(26,232,84) 100%);}
.ui-mark2 a.ios{background-image: -moz-linear-gradient( 90deg, rgb(85,92,100) 0%, rgb(157,169,182) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(85,92,100) 0%, rgb(157,169,182) 100%);background-image: -ms-linear-gradient( 90deg, rgb(85,92,100) 0%, rgb(157,169,182) 100%);}
.ui-mark2 a.wp{background-image: -moz-linear-gradient( 90deg, rgb(46,115,197) 0%, rgb(83,170,251) 100%);background-image: -webkit-linear-gradient( 90deg, rgb(46,115,197) 0%, rgb(83,170,251) 100%);background-image: -ms-linear-gradient( 90deg, rgb(46,115,197) 0%, rgb(83,170,251) 100%);}

.postion{font-size:14px; margin-top:4px; position:relative; color:#1B1B1B;height:45px;line-height:45px;padding:0 10px;width:95%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.postion a{color:#1B1B1B;padding: 2px;}
.postion a:hover{border-bottom: 2px solid #1B1B1B;text-decoration: none;}
.postionlist a:last-child{border-bottom: 2px solid #1B1B1B;}
/*paginator*/
.paginator{line-height:30px;height:30px; font-family:Simsun;text-align:center;margin-left:auto;margin-right:auto;}
.paginator a,.paginator .thispage{display:block;float:left;margin-right:3px;}
.paginator a{border:1px solid #cccccc;background-color:#f9f9f9;padding:0 12px;color:#666;}
.paginator .thispage,.paginator a:hover{background-color:#35A218;color:#ffffff;border:1px solid #ffffff;text-decoration:none;padding:0 12px;}
.paginator .prev{padding-left:16px;background-image:url(pre.png); background-position:7px center; background-repeat:no-repeat;}
.paginator .prev:hover{padding-left:16px;}
.paginator .next{padding-right:16px;background-image:url(next.png); background-position:48px center; background-repeat:no-repeat;}
.paginator .next:hover{padding-right:16px;}
.f_left{float:left;}
.bot_toolbar{
    clear:both;
    padding:10px 0 10px 5px;
}
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;visibility: hidden;}
#imgarea img{max-width:100%;display:block;margin:0 auto;}
.photo{padding:0px 0px 0px 0px;background:url(loading.gif) no-repeat center;vertical-align:top;}
#category a:link{
	text-decoration:none;  /*超链接无下划线*/
	color:#FFF;
}